<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" name="user_name" id="" placeholder="Navn">
        <input type="text" name="user_last_name" id="" placeholder="Efternavn">
        <input type="text" name="user_address" id="" placeholder="Adresse">
        <input type="tel" name="user_phone" id="" placeholder="Telefon">
        <input type="text" name="user_email" id="" placeholder="Email">
        <input type="password" name="user_password" id="" placeholder="Password">
        <button type="submit">Signup</button>
    </form>
</body>
</html>